html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.header {
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    flex-shrink: 0;
    width: 100%;
    margin-top: 60px;
}

.container {
    display: flex;
    height: calc(100vh - 100px);
    align-items: stretch;
    width: 100%;
}

.option {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: flex-grow 0.5s ease;
    overflow: hidden;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.option:hover {
    flex-grow: 2;
}

.option .label {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.option .description {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    font-size: 1.4em;
    text-align: center;
    width: 80%;
    z-index: 1;
}

.option:hover .description {
    display: block;
}

#chasis { background-color: rgb(59, 59, 59); }
#llanta { background-color: rgb(78, 78, 78); }
#motor { background-color: rgb(59, 59, 59); }
#color { background-color: rgb(78, 78, 78); }

.choose {
    margin-top: 10px;
    padding: 10px 20px;
    background: gold;
    border: none;
    outline: none;
    cursor: pointer;
}
.choose:hover{
    transform: scale(1.1);
    background-color: rgb(189, 160, 0);
}
.p-selectpart{
    color: #ffffffff;
    font-size: 2.5vh;
}