html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.header {
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    flex-shrink: 0;
    width: 100%;
    margin-top: 60px;
}

.container {
    display: flex;
    height: calc(100vh - 100px);
    align-items: stretch;
    width: 100%;
}

.wheel-grid-container {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 50%;
}

.option:hover .wheel-grid-container {
    display: grid;
}

.option {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: flex-grow 0.5s ease;
    overflow: hidden;
    color: white;
    cursor: pointer;
    padding: 20px;
    position: relative;
}

.option:hover {
    flex-grow: 2;
}

.option .label {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.grid-container {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 70%;
}

.option:hover .grid-container {
    display: grid;
}

.grid-box {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.grid-box.selected {
    background-color: rgba(0, 255, 0, 0.5);
}

.green-highlight {
    border: 2px solid rgba(0, 255, 0, 0.5);
  }

.wheel-box {
    width: 100%;
    padding-top: 80%;
    position: relative;
}

.wheel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.chassis-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#chasis { background-color: rgb(59, 59, 59); }
#llanta { background-color: rgb(78, 78, 78); }
#motor { background-color: rgb(59, 59, 59); }
#color { background-color: rgb(78, 78, 78); }

.palette {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.color-box {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

.color-picker {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
}

.color-input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100px;
    display: block;
}

.p-selectpart {
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
    text-align: center;
}

.continue-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .continue-button:hover {
    background-color: #45a049;
  }
  .react-colorful {
    width: 100%; /* Cambia el ancho a 100% */
    height: 200px; /* Mantén la altura */
}