body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f7f7;
    height: 100%; 
}
.App-header {
    background-color: #282c34;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-size: calc(10px + 2vmin);
    color: white;
    box-sizing: border-box; 
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    background-color: #f7f7f7; 
}

.login-page {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.register-form{
    display: flex;
    
}
.create-car-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    background-color: #f7f7f7; 
}

.create-car-page {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;  
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="email"],
input[type="password"],
input[type="text"]
 {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}
.boton-create-car{
    padding-top: 20px;

}
button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

p {
    color: #ff4d4d;
    font-size: 14px;
    text-align: center;
}

.navbar {
 
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    align-items:end;
   
}

.about-me {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.about-me h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}